<!DOCTYPE html>
<html>
  <head>
    <title>DplMockup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if Rails.env.development? %>
  <script src="http://localhost:3808/webpack-dev-server.js"></script>
<% end %>
</head>

  <body>
    <%= yield %>
  <%= javascript_include_tag *webpack_asset_paths('application') %>
</body>
</html>
